body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
body h1, h2, h3, h5
	color: #069
	text-align: center


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus
	color: pink

body .container #groupbuttons {
	text-align: center
}
body .container #searchbutton {
	text-align: center
}
#searchbutton #box {
	text-align: center
}
body #content {
	text-align: center
}
ul {
	list-style-type: none
}

.container .row #bob {
	text-align: left
}
.container .row #bob #yelp {
	text-align: right
	
}
.container .row #bob2 img {
	border-radius: 10px
}
.container .row #bob img {
	border-radius: 10px
}

#content .container .rectangle{
	text-align: center
}