body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #fff;
}
body h1 {
  color: #fff;
  text-align: center;
}
body h2 {
  color: #fff;
  text-align: center;
}
body h3 {
  color: #fff;
  text-align: center;
}
body h4 {
  color: #f00;
}
#footer {
  font-size: 1.2em;
  text-align: center;
}
body h5 {
  color: #fff;
  text-align: center;
}
body p {
  color: #000;
}
#footer p {
  text-align: center;
}
body {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("/static/images/rw.jpg");
  background-repeat: no-repeat;
  background-size: 100% 615px;
}
body .container #groupbuttons {
  text-align: center;
}
body .container #searchbutton {
  text-align: center;
}
#searchbutton #box {
  text-align: center;
}
#inputbox {
  width: 400px;
  border-radius: 5px;
}
body #content {
  text-align: center;
}
ul {
  list-style-type: none;
}
.container .row #bob {
  text-align: left;
}
.container .row #bob #yelp {
  text-align: right;
}
.container .row #bob2 img {
  border-radius: 10px;
}
.container .row #bob img {
  border-radius: 10px;
}
#content .container .rectangle {
  text-align: center;
}
.hide {
  display: none;
}
